.btn-class {
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid $main--light;
    padding: .9rem 1.5rem;
    @include makeRem(15);
    border-radius: 5px;
    background-color: $main--light;
    color: $form-text;
    transition: background-color 0.2s;
    cursor: pointer;
    font-size: 13px;
    min-width: 250px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0 auto;
    display: block;
    @include animate;
    &:hover, &:focus, &:active, &.focus {
        @include animate;
        background-color: $form-text;
        color: $main--light;
        outline: 0;
    }
    @include media-breakpoint-down(sm) {
        width: 100%;
        min-width: auto;
    }

    &.alert{
        background-color: $accent;
        color: $main--dark;
        font-weight: bold;
        border: 2px solid $main--dark;
        box-shadow: 5px 5px 20px -5px $main--dark;
        &:hover, &:focus, &:active {
            background-color: rgba(171, 233, 187, 0.8);
        }
    }

    &.absolute{
        position: absolute;
        min-width: 100px;
        bottom: 40px;
        left: auto;
        right: auto;
    }
}

