$main: 				#045966;
$main--light: #b6a89e;
$main-light: rgba(182, 168, 158, 0.8);
$main--lighter: #f2e4d7;
$main--light-darker: darken($main--light, 20%);
$main--dark: 		#10352d;

$aux: #ccb479;
$aux--light: #eed691;
$aux-light: 		lighten($aux, 10%);
$aux-dark:			darken($aux, 20%);
$aux-darker: 		darken($aux, 35%);

//$accent: 			rgba(130, 180, 139, 0.8);
$accent: #0491a8;
$accent-light: 		lighten($accent, 10%);
$accent-dark: 		darken($accent, 10%);
$accent-vivid: 		lighten($accent, 10%);

$desktop-width: 400px;
$sm-width: 		250px;

@font-face {
	font-family: 'GloberBook';
	font-display: swap;
	src: url('./../fonts/GloberBook.otf');
}

@font-face {
	font-family: 'GloberRegular';
	font-display: swap;
	src: url('./../fonts/GloberRegular.otf');
}

@font-face {
	font-family: 'Koliko';
	font-display: swap;
	src: url('./../fonts/koliko-Regular.ttf');
}

@font-face {
	font-family: 'Comm';
	font-display: swap;
	src: url('./../fonts/Comm.ttf');
}

$font-main:		'Roboto', Helvetica, Arial, sans-serif;
$font-secondary:  'GloberRegular', Helvetica, Arial, sans-serif;
$font-third:      'Comm', Helvetica, Arial, sans-serif;


$baseSize: 			16;
$whitespace:		30px;

// Mixins
@mixin makeRem($fontInPx) {
	font-size: ($fontInPx / $baseSize)+rem;
}
@mixin animate{
	transition: .2s ease-in;
}

// Extends
%absCenter {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

