.form-wrapper {
  font-family: -apple-system, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 55px 0 35px;
  padding: 35px;
  z-index: 200;
  width: 60%;
  max-width: 864px;
  max-height: 90%;
  border-radius: 5px;
  box-shadow: 5px 5px 60px -15px #000000;
  background-color: rgba(255, 255, 255, .3);
  background-image: linear-gradient(to bottom, rgba(182, 168, 158, .7), rgba(54, 52, 68, 0.77));
  //background-image: linear-gradient(to bottom, rgba(255, 255, 255, .7), rgba(6, 89, 79, 0.77));
  display: flex;
  //color: lighten($main--light, 10%);
  color: $main--lighter;
  opacity: 1;
  flex-direction: column;
  align-items: center;

  @include media-breakpoint-down(sm) {
    width: 80%;
    padding: 35px 10px;
    margin-top: 45px;
  }

  &.contact {
    margin-top: 10px;
    @media (max-width: 1024px) {
      margin-top: 0;
    }
  }

  &.hidden {
    opacity: 0;
  }

  h3 {
    font-weight: 400;
    color: $form-text;
    margin-bottom: 2rem;
  }

  form {
    width: 80%;
    @include media-breakpoint-down(sm) {
      width: 85%;
    }
  }
}

.form-group {
  margin-bottom: 2.5rem;
  width: 100%;

  &:last-of-type {
    margin-bottom: 0;
  }

  &.margin-top {
    margin-top: 2.5rem;
  }

  label {
    font-size: 1.7rem;
    font-weight: normal;
    color: $form-text;
    //color: #313131;
  }

  span {
    margin-left: 5px;
  }

  .form-input {
    display: block;
    width: 100%;
    height: calc(3.2rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 2rem;
    line-height: 1.5;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid $form-text;;
    outline: none;
    box-shadow: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:focus {
      border-bottom: 1px solid #313131;
    }
  }

  textarea.form-input {
    height: auto;
  }
}

.input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;

  input::placeholder {
    color: $main-light;
  }

  &.with-icon {
    margin-bottom: 10px;
    align-items: center;

    input {
      cursor: pointer;
      margin: 0;
    }

    input[type="checkbox"]:checked + label {
      color: white;

      img {
        filter: grayscale(1);
      }
    }

    label {
      color: $main--lighter;
      cursor: pointer;
      display: flex;
      align-items: center;
      margin: 0;
      line-height: 1;
      @include animate;

      &:hover {
        color: white;
        @include animate;

        img {
          @include animate;
          filter: grayscale(1);
        }
      }
    }

    i {
      margin: 0 10px;
      font-size: 25px;
      width: 25px;
      text-align: center;
      cursor: pointer;
    }

    img {
      max-width: 25px;
      height: 25px;
      margin: 0 10px;
      opacity: .9;
      cursor: pointer;
      filter: grayscale(0);
      @include animate;
    }

    &:first-of-type {
      margin-top: 5px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &.with-radio {
    margin-bottom: 5px;
    flex-wrap: nowrap;

    label {
      margin-left: 10px;
    }

    &:first-of-type {
      margin-top: 5px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.checkbox-input {
  width: 20px;
  margin: 0 10px 0 0;
}
