.header {
  padding: 19px 40px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 20000;
  background-color: rgba(0, 0, 0, .4);
  @include animate;
  @include media-breakpoint-down(sm) {
    padding: 25px;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media-breakpoint-down(sm) {
      padding: 0;
    }
  }

  &-light {
    background-image: linear-gradient(to top, $main--light, #826e72);
  }

  &-scroll {
    &.scrolled {
      opacity: .9;
      padding-top: 15px;
      padding-bottom: 15px;

      img {
        width: 50px;
      }

      .headerMenu{
        a{
          font-size: 15px;
        }
      }
    }
  }
}

.logo {
  .logo-image {
    @include animate;
    max-width: 70px;
    height: auto;
    @include media-breakpoint-down(sm) {
      max-width: 45px;
    }
  }
}

.headerMenu{
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;

  a{
    margin-right: 40px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      width: 1px;
      height: 80%;
      right: -20px;
      background-color: $main--light;
      display: block;
      top: 10%;
      margin-bottom: 10%;
    }
    &:last-of-type{
      margin-right: 0;
      &::after{
        display: none;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.menuBtnContainer {
  display: none;
  flex-grow: 1;
  justify-content: flex-end;
  @include media-breakpoint-down(sm) {
    display: flex;
  }
}

.nav-icon1 {
  width: 40px;
  height: 20px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  border: none;
  background-color: transparent;

  &:active, &:focus {
    outline: 0;
    -moz-outline-style: none;
  }

  span {
    display: block;
    position: absolute;
    height: 4px;
    width: 40px;
    background-color: $main;
    opacity: .6;
    outline: 0;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
}

.nav-icon1 span:nth-child(1) {
  top: 0px;
}

.nav-icon1 span:nth-child(2) {
  top: 8px;
}

.nav-icon1 span:nth-child(3) {
  top: 16px;
}

.nav-icon1.open span:nth-child(1) {
  top: 8px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.nav-icon1.open span:nth-child(3) {
  top: 8px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.topMenu {
  @include animate;
  position: fixed;
  right: 0;
  top: -100%;
  width: 300px;
  height: calc(100vh - 125px);
  overflow: scroll;
  z-index: 95;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .4), rgba(0, 0, 0, 0));
  padding: 40px 20px 18px;
  letter-spacing: 2px;
  transform: translate(0, 0);
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include media-breakpoint-down(sm) {
    height: calc(100vh - 106px);
  }

    &.opened {
    opacity: 1;
    transform: translate(0, calc(100vh + 125px));
    @include media-breakpoint-down(sm) {
      transform: translate(0, 0);
      top: 106px;
    }
  }

  //&-light{
  //  background-image: linear-gradient(to bottom, #e0cfcd, #826e72);
  //}

  @include media-breakpoint-down(sm) {
    width: 100%;
    padding: 30px 20px 15px 20px;
  }

  @media (max-width: 375px) {
    width: 100%;
    padding: 18vw 20px 15px 20px;
  }

  ul {
    margin: 40px 0 0 10px;
    padding: 0;
    @include animate;
    @include media-breakpoint-down(sm) {
      margin: 0;
      padding-right: 5vw;
    }
  }

  li {
    margin-bottom: 26px;
    display: block;
    @include media-breakpoint-down(sm) {
      display: flex;
      justify-content: center;
      margin-bottom: 32px;
    }
  }

  a {
    display: flex;
    align-items: center;
    font-weight: 400;
    color: $main--lighter;
    font-size: 2.2rem;

    &.checked {
      color: $accent;
    }
  }
}

.menu-img {
  right: auto;
  position: absolute;
  top: auto;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0);
}

.footer {
  color: $main--light;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  line-height: 1.5;
  bottom: 15px;

  @include media-breakpoint-down(sm) {
    font-size: 1.2rem;
    color: $main--dark;
    opacity: .7;
  }
}
