body {
  //font-size: $baseSize+px;
  font-family: $font-third;
  color: $main--lighter;
  line-height: 140%;
  max-width: 100vw;
  overflow-x: hidden;
  @include makeRem(40);

  &::before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../img/bg.jpg) no-repeat center bottom 6%;
    z-index: -10;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}


// responsive images
img {
  max-width: 100%;
  height: auto;
}

// links
a {
  color: $accent;
  text-decoration: none;
  @include makeRem(35);
  @include animate;

  &:hover, &:focus, &:active {
    color: $main--lighter;
    @include animate;
    text-decoration: none;
  }

  &.checked {
    color: $main--light;
  }
}

// whitespace
.clearspace {
  clear: both;

  &LG {
    height: $whitespace*2;
  }

  &SM {
    height: $whitespace;
  }
}

//text alignements
$alignments: left, center, right;
@each $align in $alignments {
  .text--#{$align} {
    text-align: $align;
  }
}

// headings
@for $i from 1 through 6 {
  h#{$i} {
    margin: 0;
    padding: 0;
  }
}

h1 {
  @include makeRem(70);
}

h3 {
  @include makeRem(60);
  @include media-breakpoint-down(sm) {
    font-size: 3.2rem;
  }
}

span {
  @include makeRem(35);
  line-height: 160%;
}

p {
  @include makeRem(35);
  line-height: 160%;
  color: $main--lighter;
  letter-spacing: .5px;
  @include media-breakpoint-down(sm) {
    line-height: 140%;
    @include makeRem(30);
  }
}

.slick-slide {
  height: auto !important;
}

.page-limiter {
  display: flex;
  max-width: 100vw;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow-x: hidden;
  padding-top: 125px;
}

.text-carousel {
  margin-top: 35px;
  padding: 35px;
  max-width: 60%;
  max-height: 90%;
  box-shadow: 5px 5px 40px -15px #000000;
  background-color: rgba(0, 0, 0, .1);
  opacity: 1;

  @include media-breakpoint-down(sm) {
    margin-top: 15px;
    max-width: 80%;
    padding: 15px;

  }

  .carousel-el {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 1;
    @include media-breakpoint-down(sm) {
      width: 80%;
      &.hidden {
        opacity: 0;
      }
    }
  }

  img {
    max-width: 300px;
    width: 18vw;
    margin: 0 auto 20px auto;
    @include media-breakpoint-down(sm) {
      width: 35vw;
    }
  }

  .slick-prev {
    left: -45px !important;
    @include media-breakpoint-down(sm) {
    }

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      z-index: 100;
      width: 0;
      height: 0;
      opacity: .4;
      border-top: 30px solid transparent;
      border-bottom: 30px solid transparent;
      border-right: 30px solid white;
      right: 0;
      left: auto;
      @include media-breakpoint-down(sm) {
        right: -80%;
        opacity: .1;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-right: 20px solid white;
      }
      @media (max-width: 330px) {
        right: -90%;
        border-top: 13px solid transparent;
        border-bottom: 13px solid transparent;
        border-right: 13px solid white;
      }
    }

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      z-index: 100;
      width: 0;
      height: 0;
      opacity: .5;
      border-top: 30px solid transparent;
      border-bottom: 30px solid transparent;
      border-right: 30px solid white;
      right: 0;
      -webkit-animation: linear infinite;
      -webkit-animation-name: move-left;
      -webkit-animation-duration: 1.8s;
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    &:hover, &:active {
      &:after {
        -webkit-animation: paused;
        opacity: 0;
        @include animate;
      }
    }
  }

  .slick-next {
    right: -45px !important;
    @include media-breakpoint-down(sm) {
    }

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      z-index: 100;
      width: 0;
      height: 0;
      opacity: .4;
      border-top: 30px solid transparent;
      border-bottom: 30px solid transparent;
      border-left: 30px solid white;
      left: 0;
      @include media-breakpoint-down(sm) {
        left: -80%;
        opacity: .1;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 20px solid white;
      }
      @media (max-width: 330px) {
        right: -90%;
        border-top: 13px solid transparent;
        border-bottom: 13px solid transparent;
        border-left: 13px solid white;
      }
    }

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      z-index: 100;
      width: 0;
      height: 0;
      opacity: .5;
      border-top: 30px solid transparent;
      border-bottom: 30px solid transparent;
      border-left: 30px solid white;
      left: 30px;
      -webkit-animation: linear infinite;
      -webkit-animation-name: move-right;
      -webkit-animation-duration: 1.8s;
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    &:hover, &:active {
      &:after {
        -webkit-animation: paused;
        opacity: 0;
        @include animate;
      }
    }
  }

  .slick-dots {
    left: 50%;
    transform: translate(-50%, 30%);
    opacity: 1;

    button:before {
      font-size: 10px;
    }

    .slick-active {
      button:before {
        color: white;
        @include media-breakpoint-down(sm) {
          color: black;
        }
      }
    }

    &.hidden {
      opacity: 0;
    }
  }

  .slick-prev:before, .slick-next:before {
    color: $main--lighter;
    opacity: .7;
    @include animate;
    font-size: 28px;
  }
}

.slick-dotted.slick-slider {
  margin-bottom: 40px !important;
}

@-webkit-keyframes move-left {
  0% {
    right: 0;
    opacity: .1;
  }
  30% {
    right: 60%;
    opacity: .3;
  }
  100% {
    right: 170%;
    opacity: 0;
  }
}

@-webkit-keyframes move-right {
  0% {
    left: 0;
    opacity: .1;
  }
  30% {
    left: 60%;
    opacity: .3;
  }
  100% {
    left: 170%;
    opacity: 0;
  }
}
