body {
  //font-size: $baseSize+px;
  font-family: $font-third;
  color: $main--lighter;
  line-height: 140%;
  @include makeRem(40);
  //line-height: 2;
}


// responsive images
img {
  max-width: 100%;
  height: auto;
}

// links
a {
  color: $aux-darker;
  text-decoration: none;
  @include makeRem(15);
  @include animate;

  &:hover, &:focus, &:active {
    color: $main--light;
    @include animate;
    text-decoration: none;
  }
}

// whitespace
.clearspace {
  clear: both;

  &LG {
    height: $whitespace*2;
  }

  &SM {
    height: $whitespace;
  }
}

//text alignements
$alignments: left, center, right;
@each $align in $alignments {
  .text--#{$align} {
    text-align: $align;
  }
}

// headings
@for $i from 1 through 6 {
  h#{$i} {
    margin: 0;
    padding: 0;
  }
}

h1 {
  @include makeRem(70);
}

h3 {
  @include makeRem(60);
  @include media-breakpoint-down(sm) {
    font-size: 3.2rem;
  }
}

span {
  @include makeRem(35);
  line-height: 160%;
}

p {
  @include makeRem(35);
  line-height: 160%;
  color: white;
  @include media-breakpoint-down(sm) {
    line-height: 140%;
    @include makeRem(30);
  }
}

.slick-slide {
  height: auto !important;
}

.page-limiter {
  display: flex;
  max-width: 100vw;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: url(../img/bg.jpg) no-repeat center bottom 6% fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 125px;
}

.text-carousel {
  margin-top: 35px;
  padding: 35px;
  max-width: 60%;
  max-height: 90%;
  box-shadow: 5px 5px 40px -15px #000000;
  background-color: rgba(0, 0, 0, .1);
  opacity: 1;

  @include media-breakpoint-down(sm) {
    max-width: 90%;
    padding: 15px;
    &.hidden{
      opacity: 0;
    }
  }

  .carousel-el {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    @include media-breakpoint-down(sm) {
      width: 85%;
    }
  }

  img {
    max-width: 300px;
    width: 18vw;
    margin: 0 auto 20px auto;
    @include media-breakpoint-down(sm) {
      width: 35vw;
    }
  }

  .slick-prev {
    left: -45px !important;
    @include media-breakpoint-down(sm) {
      display: none !important;
    }
  }

  .slick-next {
    right: -45px !important;
    @include media-breakpoint-down(sm) {
      display: none !important;
    }
  }

  .slick-dots {
    left: 50%;
    transform: translate(-50%, 30%);
  }
}

.slick-dotted.slick-slider {
  margin-bottom: 40px !important;
}
